# Modelos pesados
*.pt
*.pth
*.onnx
*.weights
models/
!modelo_pelea.pth
!modelo_condominio_final.pt
!modelo_vehiculo_estacionamiento.pth

# Datos / datasets
data/
outputs/
frames/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/

# Env
.env
